#header {
    height: 10rem;
    background-color: #090909;

    h1 {
        font-weight: 500;
        font-size: 2.75rem;
        color: #fef;
        text-align: center;
    }

    span {
        display: block;
        font-size: 4rem;
        line-height: 3.5rem;
        font-weight: 700;
        color: #fef;
        text-align: center;
    }
}